CLAUDE_CODE_OAUTH_TOKEN=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_TOKENS=                    # Extra bots: token2:Label2,token3:Label3
TELEGRAM_ONLY=true
ASSISTANT_NAME=Andy
LUME_VM_NAME=nanoclaw-vm
LUME_VM_IP=
BROWSER_LANG=zh-CN
BROWSER_TIMEZONE=Asia/Shanghai
QG_AUTH_KEY=
QG_AUTH_PWD=
QG_DEFAULT_AREA=440300
QG_DEFAULT_ISP=电信
